.inprogress__task {
    width: 80%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    padding-top: 0;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.inprogress__task__button {
    font-size: 1.5vw;
    padding: 4px 8px;
    background-color: #93c5fd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.inprogress__datetime{
   color: blue;
}
.inprogress__category {
    text-align: right;
    font-size: 1vw;
}
.inprogress__category__p{
    background-color: #93c5fd;
    display: inline-block;
    top: 0px;
    right: 8px;
    padding: 4px 8px;
    border-radius: 8px;
}
.inprogress__content {
    display: flex;
    align-items: left;
    /* flex-wrap: wrap; */
    gap: 20px;
    h1{
        flex-wrap: wrap;
    }
}
.inprogress__content__h1 {
    font-weight: bold;
    font-size: 3vw;
}