.task-card {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    transition: 0.3s;
}

.task-card:hover {
    transform: translateY(-3px);
}

.completed {
    opacity: 0.6;
    text-decoration: line-through;
}

.badge {
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: bold;
}

.Personal {
    background: #dbeafe;
}

.Work {
    background: #dcfce7;
}

.Shopping {
    background: #fef3c7;
}

.Other {
    background: #f3e8ff;
}

.action-btn {
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.edit-btn {
    background: #3b82f6;
    color: white;
}

.delete-btn {
    background: #ef4444;
    color: white;
}

.complete-btn {
    background: #22c55e;
    color: white;
}

.action-btn:hover {
    opacity: 0.8;
}

.High {
    border-left: 6px solid red;
}

.Medium {
    border-left: 6px solid orange;
}

.Low {
    border-left: 6px solid green;
}

.overdue {
    background-color: #fee2e2;
    border: 2px solid red;
}